.btn-outline-purple {
  color: #5618AD;
  border: 2px solid #5618AD;
  background-color: transparent;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn-outline-purple:hover {
  background-color: #5618AD;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(123, 34, 250, 0.2);
}