<div class="container mt-4">
  <h2>Search Flights</h2>
  
  <div class="card p-4 mb-4">
    <div class="row">
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="From (e.g. VJA)" [(ngModel)]="fromPlace">
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="To (e.g. BLR)" [(ngModel)]="toPlace">
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary w-100" (click)="onSearch()">Search</button>
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>

  <div *ngIf="flights.length > 0">
    <h3>Available Flights</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Flight No</th>
          <th>From</th>
          <th>To</th>
          <th>Departure</th>
          <th>Price (One Way)</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let flight of flights">
          <td>{{ flight.flightNumber }}</td>
          <td>{{ flight.fromPlace }}</td> <td>{{ flight.toPlace }}</td>   <td>{{ flight.departureTime | date:'short' }}</td>
          
          <td>₹{{ flight.price.oneWay }}</td>
          
          <td>
            <button class="btn btn-success btn-sm">Book</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>