.card-container {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}
h2 {
  color: var(--primary-hover); 
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(123, 34, 250, 0.2);
}
.btn-outline-purple {
  color: #5618AD;
  border: 2px solid #5618AD;
  background-color: transparent;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn-outline-purple:hover {
  background-color: #5618AD;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(123, 34, 250, 0.2);
}